In [2]:
# Importing dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
from sqlalchemy import create_engine
import psycopg2
import os

## Data Extraction

In [12]:
# Load the Excel file
excel_file = pd.ExcelFile('data/Organ_Donation_and_Transplantation_Data.xlsx')
# Create list 
sheet_names = ['Overview - National', 'Overview - State', 'Recipient Demographics']
# Loop through each sheet in the Excel file
for sheet_name in sheet_names:
    # Read the sheet into a pandas DataFrame
    dataframe = excel_file.parse(sheet_name)
    # Write the DataFrame to a CSV file
    output_path = os.path.join('data', f'{sheet_name}.csv')

    # Write the DataFrame to a CSV file
    dataframe.to_csv(output_path, index=False)

#### Extract National Data

In [4]:
# Read the data into a Pandas DataFrame 
national_df = pd.read_csv('data/Overview - National.csv')
national_df.head()

,Year,Organ,Number of deceased organ donors recovered,Number of living organ donors recovered,Number of candidates added,Number of registrations added,Number of deceased donor organ transplant recipients,Number of living donor organ transplant recipients
0,2017,Heart,3305.0,NaN,4460,4536,3239,NaN
1,2017,Kidney,9401.0,5811.0,35592,37209,14027,5805.0
2,2017,Kidney-Pancreas,NaN,NaN,1228,1257,789,NaN
3,2017,Liver,8373.0,367.0,12475,12947,7616,367.0
4,2017,Lung,2440.0,NaN,2955,3000,2440,NaN

In [5]:
# Column names 
national_df.columns

Index(['Year', 'Organ', 'Number of deceased organ donors recovered',
       'Number of living organ donors recovered', 'Number of candidates added',
       'Number of registrations added',
       'Number of deceased donor organ transplant recipients',
       'Number of living donor organ transplant recipients'],
      dtype='object')

In [6]:
# Rename columns 
national_df.columns = [column.lower().replace(' ', '_') for column in national_df.columns]
national_df.head()

,year,organ,number_of_deceased_organ_donors_recovered,number_of_living_organ_donors_recovered,number_of_candidates_added,number_of_registrations_added,number_of_deceased_donor_organ_transplant_recipients,number_of_living_donor_organ_transplant_recipients
0,2017,Heart,3305.0,NaN,4460,4536,3239,NaN
1,2017,Kidney,9401.0,5811.0,35592,37209,14027,5805.0
2,2017,Kidney-Pancreas,NaN,NaN,1228,1257,789,NaN
3,2017,Liver,8373.0,367.0,12475,12947,7616,367.0
4,2017,Lung,2440.0,NaN,2955,3000,2440,NaN

In [7]:
# Drop unwanted columns - number of candidated added and registrations added will not be used in analysis
national_df.drop(['number_of_candidates_added','number_of_registrations_added'], axis=1, inplace=True)
national_df.head()

,year,organ,number_of_deceased_organ_donors_recovered,number_of_living_organ_donors_recovered,number_of_deceased_donor_organ_transplant_recipients,number_of_living_donor_organ_transplant_recipients
0,2017,Heart,3305.0,NaN,3239,NaN
1,2017,Kidney,9401.0,5811.0,14027,5805.0
2,2017,Kidney-Pancreas,NaN,NaN,789,NaN
3,2017,Liver,8373.0,367.0,7616,367.0
4,2017,Lung,2440.0,NaN,2440,NaN

In [8]:
# Columnds data types
national_df.dtypes

year                                                      int64
organ                                                    object
number_of_deceased_organ_donors_recovered               float64
number_of_living_organ_donors_recovered                 float64
number_of_deceased_donor_organ_transplant_recipients      int64
number_of_living_donor_organ_transplant_recipients      float64
dtype: object

In [9]:
# Replace NaN values with 0.
national_df.fillna(0, inplace = True)
national_df.head(10)

,year,organ,number_of_deceased_organ_donors_recovered,number_of_living_organ_donors_recovered,number_of_deceased_donor_organ_transplant_recipients,number_of_living_donor_organ_transplant_recipients
0,2017,Heart,3305.0,0.0,3239,0.0
1,2017,Kidney,9401.0,5811.0,14027,5805.0
2,2017,Kidney-Pancreas,0.0,0.0,789,0.0
3,2017,Liver,8373.0,367.0,7616,367.0
4,2017,Lung,2440.0,0.0,2440,0.0
5,2017,Pancreas,1316.0,0.0,210,0.0
6,2017,All,10286.0,6178.0,27282,6172.0
7,2018,Heart,3466.0,0.0,3400,0.0
8,2018,Kidney,9867.0,6443.0,14713,6438.0
9,2018,Kidney-Pancreas,0.0,0.0,834,0.0

In [10]:
# Convert data types to int64
for column in national_df.columns:
    if national_df[column].dtype == 'float64':
        national_df[column] = national_df[column].astype('int64')

national_df.dtypes

year                                                     int64
organ                                                   object
number_of_deceased_organ_donors_recovered                int64
number_of_living_organ_donors_recovered                  int64
number_of_deceased_donor_organ_transplant_recipients     int64
number_of_living_donor_organ_transplant_recipients       int64
dtype: object

In [11]:
# Save into new csv file with new data types and fillna
national_df.to_csv("clean_data/national.csv", index=False)

#### Extract State Data

In [13]:
# Read the data into a Pandas DataFrame 
state_df = pd.read_csv('data/Overview - State.csv')
state_df.head()

,Statistics,Year,State of Residence Name,State of Residence Code,Organ,Counts
0,Deceased Organ Donors,2017,Alabama,AL,All,172.0
1,Deceased Organ Donors,2017,Alabama,AL,Heart,58.0
2,Deceased Organ Donors,2017,Alabama,AL,Kidney,154.0
3,Deceased Organ Donors,2017,Alabama,AL,Liver,153.0
4,Deceased Organ Donors,2017,Alabama,AL,Lung,31.0

In [14]:
# Columnds data types
state_df.dtypes

Statistics                  object
Year                         int64
State of Residence Name     object
State of Residence Code     object
Organ                       object
Counts                     float64
dtype: object

In [15]:
# Replace NaN values with 0.
state_df.fillna(0, inplace = True)
state_df.head(10)

,Statistics,Year,State of Residence Name,State of Residence Code,Organ,Counts
0,Deceased Organ Donors,2017,Alabama,AL,All,172.0
1,Deceased Organ Donors,2017,Alabama,AL,Heart,58.0
2,Deceased Organ Donors,2017,Alabama,AL,Kidney,154.0
3,Deceased Organ Donors,2017,Alabama,AL,Liver,153.0
4,Deceased Organ Donors,2017,Alabama,AL,Lung,31.0
5,Deceased Organ Donors,2017,Alabama,AL,Pancreas,0.0
6,Deceased Organ Donors,2017,Alaska,AK,All,32.0
7,Deceased Organ Donors,2017,Alaska,AK,Heart,0.0
8,Deceased Organ Donors,2017,Alaska,AK,Kidney,31.0
9,Deceased Organ Donors,2017,Alaska,AK,Liver,24.0

In [16]:
# Rename Statistics column into Type
state_df.rename(columns={'Statistics': 'Type'}, inplace=True)
state_df.rename(columns={'State of Residence Name': 'State name'}, inplace=True)
state_df.rename(columns={'State of Residence Code': 'State code'}, inplace=True)
state_df.columns = [column.lower().replace(' ', '_') for column in state_df.columns]
state_df.head()

                    type  year state_name state_code   organ  counts
0  Deceased Organ Donors  2017    Alabama         AL     All   172.0
1  Deceased Organ Donors  2017    Alabama         AL   Heart    58.0
2  Deceased Organ Donors  2017    Alabama         AL  Kidney   154.0
3  Deceased Organ Donors  2017    Alabama         AL   Liver   153.0
4  Deceased Organ Donors  2017    Alabama         AL    Lung    31.0

In [17]:
# Convert data types to int64
for column in state_df.columns:
    if state_df[column].dtype == 'float64':
        state_df[column] = state_df[column].astype('int64')

state_df.dtypes

type          object
year           int64
state_name    object
state_code    object
organ         object
counts         int64
dtype: object

In [18]:
# List of 'Types'
list(state_df['type'].unique())

['Deceased Organ Donors',
 'Living Organ Donors',
 'Waitlist Candidates',
 'Transplant Recipients']

In [19]:
# Only interested in Transplant Recipient type 
state_df = state_df[state_df['type'] == 'Transplant Recipients']
state_df.reset_index(drop=True, inplace=True)
state_df.head()

                    type  year state_name state_code            organ  counts
0  Transplant Recipients  2017    Alabama         AL              All     499
1  Transplant Recipients  2017    Alabama         AL            Heart      36
2  Transplant Recipients  2017    Alabama         AL           Kidney     318
3  Transplant Recipients  2017    Alabama         AL  Kidney-Pancreas       0
4  Transplant Recipients  2017    Alabama         AL            Liver     130

In [20]:
# save into new csv file with only needed data with correct data types 
state_df.to_csv("clean_data/state.csv", index=False)

#### Extract Receipient Demographics Data

In [21]:
# Read the data into a Pandas DataFrame 
demographics_df = pd.read_csv('data/Recipient Demographics.csv')
demographics_df.head()

,Transplant Year,Donor Type,Organ Transplanted,Total Distinct Recipients,Male Distinct Recipients,Female Distinct Recipients,Distinct Recipients with Age Not Reported,Pediatric Distinct Recipients,Age 18-30 Distinct Recipients,Age 31-40 Distinct Recipients,...,Hispanic Distinct Recipients,Asian Distinct Recipients,American Indian Distinct Recipients,Native Hawaiian Distinct Recipients,Multiracial Distinct Recipients,Distinct Recipients with Medicare Advantage Payment Source,Distinct Recipients with Private Insurance Payment Source,Distinct Recipients with Medicare FFS Payment Source,Distinct Recipients with Medicaid and CHIP Payment Source,Distinct Recipients with Other Insurance Payment Sources
0,2017,Deceased Donor,Heart,3239,2320,919,0,431,210,250,...,328,118,Suppressed,Suppressed,20,449,1487,572,612,119
1,2017,Deceased Donor,Kidney,14027,8451,5576,0,511,893,1698,...,2750,1009,156,61,96,2383,3029,7226,1081,308
2,2017,Deceased Donor,Kidney-Pancreas,789,499,290,0,Suppressed,70,272,...,121,22,Suppressed,Suppressed,Suppressed,101,290,325,Suppressed,Suppressed
3,2017,Deceased Donor,Liver,7616,4908,2708,0,518,267,490,...,1134,307,71,Suppressed,44,807,3679,1396,1402,332
4,2017,Deceased Donor,Lung,2440,1431,1009,0,44,160,172,...,196,64,Suppressed,Suppressed,Suppressed,542,1081,530,209,78

In [22]:
# Drop unnecessary columns - we will not be visualizing insurance data
demographics_df.drop(['Distinct Recipients with Medicare Advantage Payment Source', 'Distinct Recipients with Private Insurance Payment Source',
               'Distinct Recipients with Medicare FFS Payment Source', 'Distinct Recipients with Medicaid and CHIP Payment Source',
               'Distinct Recipients with Other Insurance Payment Sources'], axis=1, inplace=True)
demographics_df.head()

,Transplant Year,Donor Type,Organ Transplanted,Total Distinct Recipients,Male Distinct Recipients,Female Distinct Recipients,Distinct Recipients with Age Not Reported,Pediatric Distinct Recipients,Age 18-30 Distinct Recipients,Age 31-40 Distinct Recipients,Age 41-50 Distinct Recipients,Age 51-60 Distinct Recipients,Age 61+ Distinct Recipients,White Distinct Recipients,Black Distinct Recipients,Hispanic Distinct Recipients,Asian Distinct Recipients,American Indian Distinct Recipients,Native Hawaiian Distinct Recipients,Multiracial Distinct Recipients
0,2017,Deceased Donor,Heart,3239,2320,919,0,431,210,250,475,861,1012,1995,756,328,118,Suppressed,Suppressed,20
1,2017,Deceased Donor,Kidney,14027,8451,5576,0,511,893,1698,2702,3784,4439,5389,4566,2750,1009,156,61,96
2,2017,Deceased Donor,Kidney-Pancreas,789,499,290,0,Suppressed,70,272,281,138,Suppressed,418,218,121,22,Suppressed,Suppressed,Suppressed
3,2017,Deceased Donor,Liver,7616,4908,2708,0,518,267,490,1043,2423,2875,5320,725,1134,307,71,Suppressed,44
4,2017,Deceased Donor,Lung,2440,1431,1009,0,44,160,172,201,639,1224,1930,237,196,64,Suppressed,Suppressed,Suppressed

In [23]:
demographics_df.columns

Index(['Transplant Year', 'Donor Type', 'Organ Transplanted',
       'Total Distinct Recipients', 'Male Distinct Recipients',
       'Female Distinct Recipients',
       'Distinct Recipients with Age Not Reported',
       'Pediatric Distinct Recipients', 'Age 18-30 Distinct Recipients',
       'Age 31-40 Distinct Recipients', 'Age 41-50 Distinct Recipients',
       'Age 51-60 Distinct Recipients', 'Age 61+ Distinct Recipients',
       'White Distinct Recipients', 'Black Distinct Recipients',
       'Hispanic Distinct Recipients', 'Asian Distinct Recipients',
       'American Indian Distinct Recipients',
       'Native Hawaiian Distinct Recipients',
       'Multiracial Distinct Recipients'],
      dtype='object')

In [24]:
# Rename column (Distinct was removed from the name, it indicted individula-level data, not how many transplants recieved)
demographics_df.rename(columns={'Total Distinct Recipients': 'Total'}, inplace=True)
demographics_df.rename(columns={'Male Distinct Recipients': 'Male'}, inplace=True)
demographics_df.rename(columns={'Female Distinct Recipients': 'Female'}, inplace=True)
demographics_df.rename(columns={'Distinct Recipients with Age Not Reported': 'no age reported'}, inplace=True)
demographics_df.rename(columns={'Pediatric Distinct Recipients': 'pediatric'}, inplace=True)
demographics_df.rename(columns={'Age 18-30 Distinct Recipients': '18-30'}, inplace=True)
demographics_df.rename(columns={'Age 31-40 Distinct Recipients': '31-40'}, inplace=True)
demographics_df.rename(columns={'Age 41-50 Distinct Recipients': '41-50'}, inplace=True)
demographics_df.rename(columns={'Age 51-60 Distinct Recipients': '51-60'}, inplace=True)
demographics_df.rename(columns={'Age 61+ Distinct Recipients': '61+'}, inplace=True)
demographics_df.rename(columns={'White Distinct Recipients': 'white'}, inplace=True)
demographics_df.rename(columns={'Black Distinct Recipients': 'black'}, inplace=True)
demographics_df.rename(columns={'Hispanic Distinct Recipients': 'hispanic'}, inplace=True)
demographics_df.rename(columns={'Asian Distinct Recipients': 'asian'}, inplace=True)
demographics_df.rename(columns={'American Indian Distinct Recipients': 'american indian'}, inplace=True)
demographics_df.rename(columns={'Native Hawaiian Distinct Recipients': 'native hawaiian'}, inplace=True)
demographics_df.rename(columns={'multiracial Distinct Recipients': 'multiracial'}, inplace=True)
demographics_df.columns = [column.lower().replace(' ', '_') for column in demographics_df.columns]
demographics_df.head()

,transplant_year,donor_type,organ_transplanted,total,male,female,no_age_reported,pediatric,18-30,31-40,41-50,51-60,61+,white,black,hispanic,asian,american_indian,native_hawaiian,multiracial_distinct_recipients
0,2017,Deceased Donor,Heart,3239,2320,919,0,431,210,250,475,861,1012,1995,756,328,118,Suppressed,Suppressed,20
1,2017,Deceased Donor,Kidney,14027,8451,5576,0,511,893,1698,2702,3784,4439,5389,4566,2750,1009,156,61,96
2,2017,Deceased Donor,Kidney-Pancreas,789,499,290,0,Suppressed,70,272,281,138,Suppressed,418,218,121,22,Suppressed,Suppressed,Suppressed
3,2017,Deceased Donor,Liver,7616,4908,2708,0,518,267,490,1043,2423,2875,5320,725,1134,307,71,Suppressed,44
4,2017,Deceased Donor,Lung,2440,1431,1009,0,44,160,172,201,639,1224,1930,237,196,64,Suppressed,Suppressed,Suppressed

In [25]:
# check datatypes
demographics_df.dtypes

transplant_year                     int64
donor_type                         object
organ_transplanted                 object
total                               int64
male                                int64
female                              int64
no_age_reported                     int64
pediatric                          object
18-30                              object
31-40                               int64
41-50                               int64
51-60                               int64
61+                                object
white                               int64
black                              object
hispanic                           object
asian                              object
american_indian                    object
native_hawaiian                    object
multiracial_distinct_recipients    object
dtype: object

In [26]:
# Replace 'Supressed' values with 0 - Suppressed values incicate a count of 16 or less
demographics_df.replace('Suppressed', 0, inplace=True)
demographics_df.head()

,transplant_year,donor_type,organ_transplanted,total,male,female,no_age_reported,pediatric,18-30,31-40,41-50,51-60,61+,white,black,hispanic,asian,american_indian,native_hawaiian,multiracial_distinct_recipients
0,2017,Deceased Donor,Heart,3239,2320,919,0,431,210,250,475,861,1012,1995,756,328,118,0,0,20
1,2017,Deceased Donor,Kidney,14027,8451,5576,0,511,893,1698,2702,3784,4439,5389,4566,2750,1009,156,61,96
2,2017,Deceased Donor,Kidney-Pancreas,789,499,290,0,0,70,272,281,138,0,418,218,121,22,0,0,0
3,2017,Deceased Donor,Liver,7616,4908,2708,0,518,267,490,1043,2423,2875,5320,725,1134,307,71,0,44
4,2017,Deceased Donor,Lung,2440,1431,1009,0,44,160,172,201,639,1224,1930,237,196,64,0,0,0

In [27]:
# Convert data types to int64
cols_to_convert = demographics_df.columns.difference(['donor_type', 'organ_transplanted'])
demographics_df[cols_to_convert] = demographics_df[cols_to_convert].astype('int64')
demographics_df.dtypes

transplant_year                     int64
donor_type                         object
organ_transplanted                 object
total                               int64
male                                int64
female                              int64
no_age_reported                     int64
pediatric                           int64
18-30                               int64
31-40                               int64
41-50                               int64
51-60                               int64
61+                                 int64
white                               int64
black                               int64
hispanic                            int64
asian                               int64
american_indian                     int64
native_hawaiian                     int64
multiracial_distinct_recipients     int64
dtype: object

In [28]:
# Save new dataframe to new csv
demographics_df.to_csv("clean_data/demoprahics.csv", index=False)

## Creating Databases

In [21]:
# Connection establishment
conn = psycopg2.connect(
   database="postgres",
    user='postgres',
    password='postgres',
    host='localhost',
    port= '5432'
)

conn.autocommit = True

# Create a crusor object 
cursor = conn.cursor()

# Drop database if already exists
cursor.execute("DROP DATABASE IF EXISTS organs_db")

# Query to create database
db = ''' CREATE database organs_db ''';
# Create database
cursor.execute(db)

ObjectInUse: database "organs_db" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [10]:
# Create engine for SQL
engine = create_engine('postgresql://postgres:postgres@localhost:5432/organs_db')

In [ ]:
# Import national to sql
national_df.to_sql("national", con=engine.connect(), if_exists='replace')

In [ ]:
# Import state to sql
state_df.to_sql("state", con=engine.connect(), if_exists='replace')

In [ ]:
# Import demographic to sql
demographic_df.to_sql("category", con=engine.connect(), if_exists='replace')

In [11]:
# Load the Excel file
excel_file = pd.ExcelFile('data/Organ_Donation_and_Transplantation_Data.xlsx')

# Loop through each sheet in the Excel file
for sheet_name in excel_file.sheet_names:
    # Read the sheet into a pandas DataFrame
    dataframe = excel_file.parse(sheet_name)

    # Write the DataFrame to a SQL database
    dataframe.to_sql(sheet_name, engine, if_exists='replace')